<div class="home-banner">
  <h1>
    <span id="banner-typed-text">Airbncastle</span>
  </h1>

<button id="sweet-alert-demo" class="btn btn-primary"><%= link_to 'Show me', castles_path, id: "sweet-alert-demo" %></button>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
