<div class="home-banner">

      <span id="banner-typed-text text-center"><h1>Airbncastle</h1>
    <br></span><button id="sweet-alert-demo" class="btn btn-primary"><%= link_to 'Show me', castles_path, id: "sweet-alert-demo" %></button>

</div>
<div class="home-box text-center">

  </div>
