.home-banner {
  background-image: url('https://ae01.alicdn.com/kf/HTB1DltIeQfb_uJjSsD4q6yqiFXaU/castle-in-poland-city-building-landscape-wallpaper-KD723-living-Room-home-wall-modern-art-decor-wood.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
