.content {
  margin-top: 70px;
}

.picture-container img {
  height: 500px;
  width: auto;
}

.generic-link {
  cursor: pointer;
  padding: none;
  color: #616668;
  font-size: 14px;
}

.generic-link:hover {
  color: #da552f;
  text-decoration: none;
}

