.new_castle {
  font-family: Raleway;
  color: #484848;
}

.new_castle label {
  font-weight: 500;
}

.form-header {
  margin-top: 100px;
  margin-bottom: 50px;
}

.light-caps {
  color: #BBBBBB;
  font-size: 15px;
}

.light-caps-3 {
  color: #BBBBBB;
  font-size: 15px;
  margin-bottom: 0;
}

.collection_check_boxes {
  color: #3c3a3a;
  font-size: 16px;
  font-weight: 400;
      margin-left: 10px;
}

.light-form-label {
    color: #BBBBBB;
  font-size: 15px;
  margin: 0;
}

.col-form-label {
  font-size: 1px;
  border: none;
  color: #F4F4F4;
  margin-bottom: 0px;
}

.form-content {
  padding: 30px;
}

.check-box {
  padding: 5px;
}

.form-control {
  font-family: Raleway;
}

.castle-form {
  font-family: Raleway;
}

.form-header {
  font-family: Raleway;
}
