.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: #F4F4F4;
  font-family: Raleway;
}



.newsletter h2 {
  color: black;
  font-size: 30px;
}

.newsletter p {
  font-size: 14px;
  padding: 0;
}

.find-us {
  position: absolute;
  margin-top: 100px;
  margin-bottom: 150px;
  background-color: #F4F4F4;
  font-family: Raleway;
}



.find-us h2 {
  color: black;
  font-size: 30px;
}

.find-us p {
  font-size: 14px;
  padding: 0;
}
