.new-booking-container {
      height: 500px;
    width: auto;
}

.new-booking-container img {
    //   height: 500px;
    // width: auto;
    // margin-top: 20vh;
    margin-left: 50px;
    border-radius: 2px;
}
