<div class="container">
  <div class="row">
    <div class="col-md-7 form-content">

      <div class="content">
        <div class="form-header">
          <h3>Hey! Let's get your castle listed.</h3>
        </div>
        <p class="light-caps">STEP 1</p>
        <%= render 'castle_form' %>

      </div>

    </div>
    <div class="col-md-5">
      <div class="picture-container">
        <%= image_tag "castle_drawing.png", height: 50 %>

      </div>
    </div>
  </div>
</div>
