<div class="container">
  <div class="row">
    <div class="col-xs-12 col-offset-3">

  <div class="content">
    <div class="form-header">
      <h3>Hey! Let's get your castle listed.</h3>
    </div>
    <p class="light-caps">STEP 1</p>
    <%= render 'castle_form' %>

  </div>

    </div>
  </div>
</div>
